* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Raleway', sans-serif;
   background: #333 url('showcase.jpg') no-repeat center center / cover;
   color: #fff;
   height: 100vh;
   overflow: hidden;
}

body::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   height: 100vh;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   padding: 0 3rem;
}

h1,
h2 {
   font-weight: 200;
   margin: 0.4rem;
}

h1 {
   font-size: 3.5rem;
}

h2 {
   font-size: 2rem;
   color: #aaa;
}

/* Cursor */
.txt-type .txt {
   border-right: 0.2rem solid #777;
}

@media (min-width: 1200px) {
   h1 {
      font-size: 5rem;
   }
}

@media (max-width: 800px) {
   h1 {
      font-size: 3rem;
   }

   .container {
      padding: 0 1rem;
   }
}

@media (max-width: 500px) {
   h1 {
      font-size: 2.5rem;
   }
   h2 {
      font-size: 1.5rem;
   }
}
